html {
    font-size: 62.5%;
}

:root {
    --color-white: #FFFFFF;
    --color-secondary: #F7F7F7;
    --color-primary: #CC312D;
    --color-sopping-card: #E5303F1A;
    --colot-body: #EBEBEB;
    --color-content: #448CF91A;
    --color-body: #606060;
    --border-radius-input: 4rem;
    --border-radius-badge: 1rem;
    --border-radius-full: 100%;
    --color-border-processing-badge: #2E7AF1;
    --color-delivered-badge: #1BAC441A;
    --color-return-badge: #1717171A;
    --color-dashbord: #1717171A;
    --color-canceled-badge: #E5303F1A;
    --font-size-price: 2.4rem;
    --font-size-badge: 1.2rem;
    --font-family: "vazir";
    --font-family-bold: "vazirBold";
    --font-family-regular: "vazirRegular";
    --font-family-light: "vazirLight";
    --border-primary: "1px solid #CC312D";
    --padding-primary: 1rem;
}

body {
    font-family: var(--font-family-bold);

    padding: 1rem;
}

body,
label,
input,
h2,
select,
option,
textarea,
span,
button {
    font-family: var(--font-family);
    /* font-weight: 400; */

}

/* @media screen and (min-width:640px) {
    body {
        padding: 1rem;
    }

} */

.container {
    max-width: 1120px;
    margin: auto;
}

p {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.6rem;
}

.bold-text {
    font-size: 2.2rem;
}

.regular-text {
    font-size: 1.2rem;
    font-family: var(--font-family-regular);
}

.icon {
    width: 2.8rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-return-badge);
    margin: 1rem 0 2rem 0;
}

/* ! grid mobile  */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 1rem;
    border: 1px solid var(--color-content);


}

/* .information-user{
    overflow-y: auto;
    height: 95vh;
    padding-left: 1rem;
} */

.information-user,
.information-buy {
    padding: 1rem;
    border-radius: 1rem;
}

.information-buy {
    background-color: var(--color-secondary);
}

/* ! responsive tablet */
@media screen and (min-width:641px) and (max-width:1100px) {
    main {
        grid-template-columns: 8fr 4fr;
        gap: 1rem;
    }
}



/* ! repandive desktop */
@media screen and (min-width:1100px) {
    main {
        grid-template-columns: 5fr 2fr;
        gap: 1rem;
    }
}

@media screen and (max-width:640px) {
    .information-user {
        margin-bottom: 4rem;
    }

}

form {
    padding: 1rem;
}

.respansive--input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

/* ! responsive input desktop */
@media screen and (min-width:640px) {
    .respansive--input {
        grid-template-columns: repeat(2, 1fr);
    }

}



/* ? develope user information */

/* style input */

input,
select,
textarea {

    width: 100%;
    border: none;
    padding: 1.5rem 1rem;
    border: .1px solid var(--color-content);
    border-radius: var(--border-radius-input);
    background-color: var(--color-secondary);
}

input:focus,
select:focus {
    outline: none;
    border: .5px solid var(--color-content);
    box-shadow: .1px .1px 1px var(--color-body);
    transition: all .5s;

}

label {
    display: block;
    margin: 2rem 0 .7rem 0;
    font-size: 1.4rem;
    color: var(--color-body);
}

/* address register */
.address-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.address-register a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-primary);
}

/* ! DESCRIPTION TEXT */

.description-text {
    width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
    resize: none;
}

.description-text:focus {
    outline: none;
}


/*  */
.method-send--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.show-shoping-number {
    padding: 1rem;
    background-color: var(--color-sopping-card);
    color: var(--color-primary);
    font-weight: bolder;
    border-radius: var(--border-radius-input);
}

/* ! option send */
.option-send {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width:940px) {
    .option-send {
        grid-template-columns: repeat(2, 1fr);
    }

}

.option-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.option-input input {
    width: 2rem;

}

.option-input input:checked {
    width: 2rem;
    accent-color: var(--color-primary);

}


.option-input label {
    margin: 0;
}

.option-send-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: var(--border-radius-input);
}

.option-send-item:hover {
    box-shadow: .1px .1px 4px .1px var(--color-primary);
cursor: pointer;
}




/* !grid shpping card */

.shop-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .5rem;
    margin-top: 1rem;

}

.card__img {
    border-radius: 0 5px 5px 0;
}

.card__paragraph {
    border-radius: 5px 0 0 5px;
}


.card__img,
.card__paragraph {
    background-color: var(--color-white);
    padding: 1rem;
}

.card__img img {
    width: 100%;
}

@media screen and (min-width:640px) and (max-width:1100px) {
    .card__img img {
        width: 40px;
    }

}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.introduction--product {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.introduction--product p {
    font-size: 1.2rem;
}

.Calculate--price p {
    font-size: 1rem;
}

.bold-price {
    font-size: 2rem;
}

/* design add delete number botton  */
.delete-product,
.number-product,
.add-product {
    padding: 1rem;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.number-product {
    padding: .5rem 1rem;
    border: 1px solid var(--color-body);
}

/* design botton delete */
.add-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Calculate--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

}

/*! bill box */

.bill-box {
    padding: 1rem;
    background-color: var(--color-white);
    margin-top: 1rem;
}

.bill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
}

.bill-item--price {
    color: var(--color-body);
}


/*! enamad */
.enamad {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: 1rem;
}

.enamad__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-canceled-badge);
    border-radius: var(--border-radius-badge);
}

.enamad__img img {
    width: 100%;
}


/* ! button */
.btn-box {
    margin-top: 2rem;
}

.btn {
    width: 100%;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem;
    border-radius: var(--border-radius-input);
    cursor: pointer;

}